* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f6f7;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}
/*
  Крок 15

Flexbox має головну та поперечну осі. Головна вісь визначається властивістю flex-direction, яка має чотири можливі значення:

    row (за замовчуванням): горизонтальна вісь з гнучкими елементами зліва направо
    row-reverse: горизонтальна вісь з гнучкими елементами справа наліво
    column: вертикальна вісь з гнучкими елементами зверху вниз
    column-reverse: вертикальна вісь з гнучкими елементами знизу вгору

Примітка. Осі та напрямки відрізнятимуться залежно від напрямку тексту. Показані значення – для напрямку тексту зліва направо.

Спробуйте різні значення, щоб побачити, як вони впливають на макет.

Коли ви закінчите, встановіть явний flex-direction зі значенням row для елемента .gallery.

*/
.gallery {
  display: flex;
  flex-direction: row;
}
