* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f6f7;
}
/* Крок 20
Зверніть увагу, як спотворились деякі зображення. Це через різне співвідношення сторін зображення. 
Замість того, щоб встановлювати кожне співвідношення сторін окремо, ви можете використати властивість object-fit, щоб визначити як мають поводитись зображення.

Надайте селектору .gallery img властивість object-fit та встановіть її на cover. Це скаже зображенню заповнити контейнер img зі збереженням співвідношення сторін, що призведе до обрізки.
*/
.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  max-width: 1400px;
  margin: 0 auto;
}
