/*  Step-7
    Кордон допоможе краще візуалізувати розмір елементів. 

    Надайте елементу .gallery властивості width зі значенням 50% та border зі значенням 5px solid red. 
    
    Потім надайте елементам img властивості width зі значенням 100%,
    padding зі значенням 5px та border зі значенням 5px solid blue. 
*/
/*  Step-8 */

* {
  /* box-sizing: content-box; */
  /* 
    Розмірна модель border-box робить протилежне від content-box. 
    Загальна ширина елемента, включно з відступом та кордоном, буде явним набором ширини. 
    Вміст елемента зменшуватиметься, щоб надати місце для відступу та кордону.
  */
  box-sizing: border-box;
}

.gallery {
  width: 50%;
  border: 5px solid red;
}

img {
  width: 100%;
  padding: 5px;
  border: 5px solid blue;
}
